<main>
  <section class="section section-lg section-shaped">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-lg-md d-flex">
      <div class="col px-0">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="display-3 text-white">Tin tức
            </h1>
            <p class="lead text-white">Các thông tin, thông báo liên quan đến vấn đề tuyển sinh và nhập học của sinh viên trường Đại học Bách Khoa Đà Nẵng.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-sm">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <img src="assets/img/theme/img-1-1200x1000.jpg" class="img-fluid"/>
                </div>
                <div class="col-md-8">
                  <h5 class="title text-success">Hội thảo Quốc tế "Tài nguyên nước và kỹ thuật ven bờ biển" ICWREC năm
                    2019</h5>
                  <small class="text-muted"><i class="ni ni-calendar-grid-58 mr-3"></i>25 Jun 2050</small>
                  <p class="news-content">Sáng ngày 25/04/2019, Khoa Xây dựng Thủy lợi - Thủy Điện, Trường Đại học Bách khoa, ĐHĐN phối hợp
                    với trường Đại học Yokohama, Nhật Bản và ...</p>
                  <a href="javascript:void(0)" class="text-success">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <img src="assets/img/theme/img-1-1200x1000.jpg" class="img-fluid"/>
                </div>
                <div class="col-md-8">
                  <h5 class="title text-success">Hội thảo Quốc tế "Tài nguyên nước và kỹ thuật ven bờ biển" ICWREC năm
                    2019</h5>
                  <small class="text-muted"><i class="ni ni-calendar-grid-58 mr-3"></i>25 Jun 2050</small>
                  <p class="news-content">Sáng ngày 25/04/2019, Khoa Xây dựng Thủy lợi - Thủy Điện, Trường Đại học Bách khoa, ĐHĐN phối hợp
                    với trường Đại học Yokohama, Nhật Bản và ...</p>
                  <a href="javascript:void(0)" class="text-success">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <img src="assets/img/theme/img-1-1200x1000.jpg" class="img-fluid"/>
                </div>
                <div class="col-md-8">
                  <h5 class="title text-success">Hội thảo Quốc tế "Tài nguyên nước và kỹ thuật ven bờ biển" ICWREC năm
                    2019</h5>
                  <small class="text-muted"><i class="ni ni-calendar-grid-58 mr-3"></i>25 Jun 2050</small>
                  <p class="news-content">Sáng ngày 25/04/2019, Khoa Xây dựng Thủy lợi - Thủy Điện, Trường Đại học Bách khoa, ĐHĐN phối hợp
                    với trường Đại học Yokohama, Nhật Bản và ...</p>
                  <a href="javascript:void(0)" class="text-success">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <img src="assets/img/theme/img-1-1200x1000.jpg" class="img-fluid"/>
                </div>
                <div class="col-md-8">
                  <h5 class="title text-success">Hội thảo Quốc tế "Tài nguyên nước và kỹ thuật ven bờ biển" ICWREC năm
                    2019</h5>
                  <small class="text-muted"><i class="ni ni-calendar-grid-58 mr-3"></i>25 Jun 2050</small>
                  <p class="news-content">Sáng ngày 25/04/2019, Khoa Xây dựng Thủy lợi - Thủy Điện, Trường Đại học Bách khoa, ĐHĐN phối hợp
                    với trường Đại học Yokohama, Nhật Bản và ...</p>
                  <a href="javascript:void(0)" class="text-success">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-grid align-items-center justify-content-center mt-6">
        <nav aria-label="Page navigation example">
          <ngb-pagination [collectionSize]="50" [(page)]="page1" aria-label="Default pagination">
            <ng-template ngbPaginationPrevious><i _ngcontent-c9="" class="fa fa-angle-left"></i></ng-template>
            <ng-template ngbPaginationNext><i _ngcontent-c9="" class="fa fa-angle-right"></i></ng-template>
          </ngb-pagination>
        </nav>
      </div>
    </div>
  </section>
</main>
