<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-primary alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="card card-profile shadow mt--300">
                <div class="px-4">
                    <div class="text-center mt-5">
                        <h3>
                            Thông tin học phí
                        </h3>
                    </div>
                    <hr class="my-4"/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table align-items-center table-hover table-bordered">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Loại chi phí</th>
                                        <th scope="col" class="text-center">Chi tiết</th>
                                        <th scope="col" class="text-right">Số tiền</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>Học phí học kì 1</th>
                                        <td>
                                        </td>
                                        <td class="text-right">{{tuition.tuitionFee | currency:'4.2-2':'VND '}}</td>
                                    </tr>
                                    <tr *ngFor="let type of tuition.tuitionTypes">
                                        <th scope="row">
                                            {{type.name}}
                                        </th>
                                        <td>
                                            {{type.description}}
                                        </td>
                                        <td class="text-right">
                                            {{type.money | currency:'4.2-2':'VND '}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Tổng các chi phí cần nộp</th>
                                        <td></td>
                                        <td class="text-right font-weight-bold">{{tuition.totalOfFee | currency:'4.2-2':'VND '}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 py-5 border-top text-center">
                        <div class="row justify-content-center">
                            <button class="btn btn-primary" href="javascript:void(0)"
                                    styleSheetFile="../../assets/css/doc.css"
                                    printTitle="MyTitle"
                                    printSectionId="print-section"
                                    ngxPrint>Kết thúc
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="print-section" hidden="hidden" *ngIf="studentInfo">
        <div class="container background-color-f9f9f9">
            <div class="row">
                <div class="col-md-2 new-avatar text-center">
                    <p>Ảnh 4 x 6 (Mới chụp chưa quá 6 tháng)</p>
                </div>
                <div class="col-md-8 text-center">
                    <h3>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h3>
                    <h4>Độc lập – Tự do – Hạnh phúc</h4>
                    <br>
                    <h2>PHIẾU KÊ KHAI THÔNG TIN SINH VIÊN</h2>
                    <h2>KHÓA 2019</h2>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="text-center"><h3><b>I. THÔNG TIN VỀ BẢN THÂN</b></h3></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">Họ và tên: {{studentInfo.firstName}}</div>
                        <div class="col">Ngày sinh: {{studentInfo.dateOfBirth}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Nơi sinh: {{studentInfo.placeOfBirth}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Giới tính: {{studentInfo.sex}}</div>
                        <div class="col">Dân tộc: {{studentInfo.religionId}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Số CMND: {{studentInfo.identityNumber}}</div>
                        <div class="col">Ngày cấp: {{studentInfo.dateOfIssue}}</div>
                        <div class="col">Nơi cấp: {{studentInfo.placeOfIssue}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Hộ khẩu thường trú: {{studentInfo.permanentResidence}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Nơi ở hiện tại: {{studentInfo.address}}</div>
                    </div>
                    <div class="row">
                        <div class="col">Điện thoại liên hệ: {{studentInfo.phoneNumber}}</div>
                        <div class="col">Email: {{studentInfo.email}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="text-center"><h3><b>II. THÔNG TIN NHÂN THÂN</b></h3></div>
                        </div>
                    </div>
                    <div *ngFor="let member of studentInfo.familyMembers">
                        <div class="row">
                            <div class="col"><b>{{studentInfo.familyMembers.indexOf(member) + 1}}
                                . {{member.relationName}}</b></div>
                        </div>
                        <div class="row">
                            <div class="col">- Họ và tên: {{member.firstName}}</div>
                            <div class="col">Năm sinh: {{member.yearOfBirth}}</div>
                        </div>
                        <div class="row">
                            <div class="col">- Quốc tịch: {{member.nationalityName}}</div>
                            <div class="col">Dân tộc: {{member.religionName}}</div>
                            <div class="col">Tôn giáo: {{member.ethnicName}}</div>
                        </div>
                        <div class="row">
                            <div class="col">- Hộ khẩu thường trú: {{member.address}}</div>
                        </div>
                        <div class="row">
                            <div class="col">- Nghề nghiệp: {{member.careerTypeName}}</div>
                        </div>
                        <div class="row">
                            <div class="col">- Nơi làm việc: {{member.address}}</div>
                        </div>
                        <div class="row">
                            <div class="col">- Điện thoại liên hệ: {{member.phoneNumber}}</div>
                            <div class="col">Email: {{member.email}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col text-center"><br>
                <h3><b>Cam đoan của gia đình sinh viên </b></h3></div>
            <div class="col text-center font-size-20px">
                <br>
                <p>Hà Nội, ngày ...... tháng ...... năm 20...........</p>
                <h3><b>Sinh viên</b></h3>
                <p><i>(Ký và ghi rõ họ tên)</i></p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <h3><b>Xác nhận của chính quyền địa phương nơi sinh viên cư trú</b></h3>
            </div>
        </div>
    </div>
</main>
