<main>
  <section class="section section-lg section-shaped">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-lg-md d-flex">
      <div class="col px-0">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="display-3 text-white">Tin tức
            </h1>
            <p class="lead text-white">According to the National Oceanic and Atmospheric Administration, Ted, Scambos,
              NSIDClead scentist, puts the potentially record maximum.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
           xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-12 col-12">
          <div class="news-details-content">
            <div class="single-latest-item">
              <img src="img/details/2.jpg" alt="">
              <div class="single-latest-text">
                <h3>Learn English in ease simply random text</h3>
                <div class="single-item-comment-view">
                  <span><i class="zmdi zmdi-calendar-check"></i>25 jun 2050</span>
                  <span><i class="zmdi zmdi-eye"></i>59</span>
                  <span><i class="zmdi zmdi-comments"></i>19</span>
                </div>
                <p>There are many variaons of passages of Lorem Ipsuable, amrn in some by injected humour, There are
                  many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                  some form, by injected humour, or randomised words which don't look even slightly believable. If you
                  are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
                  hidden in the middle of text.</p>
                <p>There are many variaons of passages of Lorem Ipsuable, amrn in some by injected humour, There are
                  many variations of passages of Lorem Ipsum available,</p>
                <div class="quote-section">
                  <p>but the majority have suffered alteration in some form, by injected humour, or randomised words
                    which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you
                    need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                </div>
                <p>Lorem Ipsuable, amrn in some by injected humour, There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some form, by injected humour, or randomised
                  words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you
                  need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-12">
          <div class="sidebar-widget">
            <div class="single-sidebar-widget">
              <h4 class="title">Recent Posts</h4>
              <div class="recent-content">
                <div class="recent-content-item">
                  <a href="#"><img src="img/event/7.jpg" alt=""></a>
                  <div class="recent-text">
                    <h4><a href="#">Learn English in</a></h4>
                    <div class="single-item-comment-view">
                      <span><i class="zmdi zmdi-eye"></i>59</span>
                      <span><i class="zmdi zmdi-comments"></i>19</span>
                    </div>
                    <p>There are many varf passages of Lorem Ipsuable,amar</p>
                  </div>
                </div>
                <div class="recent-content-item">
                  <a href="#"><img src="img/event/8.jpg" alt=""></a>
                  <div class="recent-text">
                    <h4><a href="#">Team Works</a></h4>
                    <div class="single-item-comment-view">
                      <span><i class="zmdi zmdi-eye"></i>59</span>
                      <span><i class="zmdi zmdi-comments"></i>19</span>
                    </div>
                    <p>There are many varf passages of Lorem Ipsuable,amar</p>
                  </div>
                </div>
                <div class="recent-content-item">
                  <a href="#"><img src="img/event/9.jpg" alt=""></a>
                  <div class="recent-text">
                    <h4><a href="#">Learn With Fun</a></h4>
                    <div class="single-item-comment-view">
                      <span><i class="zmdi zmdi-eye"></i>59</span>
                      <span><i class="zmdi zmdi-comments"></i>19</span>
                    </div>
                    <p>There are many varf passages of Lorem Ipsuable,amar</p>
                  </div>
                </div>
                <div class="recent-content-item">
                  <a href="#"><img src="img/event/10.jpg" alt=""></a>
                  <div class="recent-text">
                    <h4><a href="#">Writing Skill</a></h4>
                    <div class="single-item-comment-view">
                      <span><i class="zmdi zmdi-eye"></i>59</span>
                      <span><i class="zmdi zmdi-comments"></i>19</span>
                    </div>
                    <p>There are many varf passages of Lorem Ipsuable,amar</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
