<main>
  <section class="section section-shaped">
    <div class="shape shape-style-1 shape-primary">
      <span class="span-150"></span>
      <span class="span-50"></span>
      <span class="span-50"></span>
      <span class="span-75"></span>
      <span class="span-100"></span>
      <span class="span-75"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
    </div>
    <div class="container py-md">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-6 mb-6 mb-lg-0">
          <h1 class="text-white font-weight-bold font-weight-light">Trường Đại học Bách khoa Đà Nẵng</h1>
          <p class="lead text-white mt-4">Trường Đại học Bách Khoa - Đại học Đà Nẵng sẽ trở thành một trong những trường
            đại học hàng đầu trong khu vực Đông Nam Á.
            Là nơi đào tạo nguồn nhân lực kỹ thuật, công nghệ chất lượng cao và cung cấp các dịch vụ khoa học, công nghệ
            đáp ứng nhu cầu phát triển bền vững kinh tế - xã hội của khu vực miền Trung - Tây Nguyên và cả nước.</p>
        </div>
        <div class="col-lg-6 mb-lg-auto">
          <div class="rounded shadow-lg overflow-hidden transform-perspective-right">
            <ngb-carousel>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/theme/img-1.png" alt="First slide">
              </ng-template>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/theme/img-2.png" alt="Second slide">
              </ng-template>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/theme/img-3.png" alt="Third slide">
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="http://img.f30.vnecdn.net/2016/11/23/4-1479876380_660x0.jpg" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default"/>
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"/>
              </svg>
              <h4 class="display-3 font-weight-bold text-white">Trường Đại học Bách khoa, Đại học Đà Nẵng</h4>
              <p class="lead text-italic text-white">Trường Đại học Bách khoa rộng 240.000 m2, nằm ở trung tâm thành phố Đà Nẵng, có rất nhiều cây xanh, hồ nước, là nơi lý tưởng cho sinh viên ôn luyện bài.</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <h3>Lịch sử phát triển</h3>
            <p>Ngay sau khi đất nước Việt Nam được thống nhất, Ủy ban Nhân dân Cách mạng khu Trung Trung bộ đã có Quyết
              định số 66/QĐ ngày 15/07/1975 thành lập Viện Đại học Đà Nẵng - là tiền thân của Trường Đại học Bách khoa
              Đà Nẵng. Tháng 10/1976, Thủ tướng Chính phủ ra Quyết định số 426/TTg thành lập Trường Đại học Bách khoa Đà
              Nẵng trên cơ sở của Viện Đại học Đà Nẵng.</p>
            <p>Đến tháng 04 năm 1994, Đại học Đà Nẵng được thành lập theo nghị định số 32/CP của Chính phủ, Trường Đại
              học Bách khoa Đà Nẵng được đổi tên thành Trường Đại học Kỹ thuật và là một thành viên của Đại học Đà Nẵng.
              Ngày 09/03/2004 Bộ Giáo dục và Đào tạo ra Quyết định số 1178/QĐ-BGD&ĐT-TCCB, đổi tên Trường Đại học Kỹ
              thuật thành Trường Đại học Bách khoa - Đại học Đà Nẵng.</p>
          </div>
        </div>
      </div>
      <div class="row row-grid align-items-center">
        <div class="col-md-12"><img src="http://dut.udn.vn/Images/Gioithieu/Lichsu.jpg" style="max-width: 100%"></div>
      </div>
    </div>
  </section>
  <app-contact-form></app-contact-form>
</main>
