<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--not-top headroom--pinned nav-padding-0">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/argon-white.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>

      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Trang chủ</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admission">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Kê khai thông tin</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Liên hệ</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4"
            *ngIf="(getPath()!=='/login') && !authenticationService.currentUserValue">
          <a [routerLink]="['/login']" class="btn btn-neutral btn-icon" href="javascript:void(0)">
            <span class="btn-inner--icon">
              <i class="fa fa-user-circle mr-2"></i>
            </span>
            <span class="nav-link-inner--text">Đăng nhập</span>
          </a>
        </li>
        <li class="nav-item" ngbDropdown placement="bottom-right" *ngIf="authenticationService.currentUserValue">
          <a class="nav-link pr-0" role="button" ngbDropdownToggle href="javascript:void(0)">
            <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="{{authenticationService.currentUserValue.avatar}}">
            </span>
              <div class="media-body ml-2 d-none d-lg-block">
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">{{authenticationService.currentUserValue.lastName + " " + authenticationService.currentUserValue.firstName}}</span>
                </div>
              </div>
            </div>
          </a>
          <div class="nav-item dropdown-menu dropdown-menu-right" ngbDropdownMenu placement="bottom-right">
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Xin chào!</h6>
            </div>
            <div class="dropdown-divider"></div>
            <a (click)="logout()" class="dropdown-item" href="javascript:void(0)">
              <i class="ni ni-user-run"></i>
              <span>Đăng xuất</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
